/cygdrive/c/Users/elie/Documents/Git/dd-Api/.idea/misc.xml
/cygdrive/c/Users/elie/Documents/Git/dd-Api/.idea/workspace.xml
/cygdrive/c/Users/elie/Documents/Git/dd-Api/.idea/dd-Api.iml
/.idea/
staticfiles
