/cygdrive/c/Users/elie/Documents/Git/dd-Api/.idea/misc.xml
/cygdrive/c/Users/elie/Documents/Git/dd-Api/.idea/workspace.xml
/cygdrive/c/Users/elie/Documents/Git/dd-Api/.idea/dd-Api.iml
/.idea/
staticfiles
mysite.log
DDAPIwebsite/.Python
DDAPIwebsite/.idea/inspectionProfiles/
DDAPIwebsite/DDAPIwebsite/__init__.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/__init__.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/admin.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/apps.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/cache.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/call.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/forms.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/models.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/queryDB.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/routes.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/settings.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/urls.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/views.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/__pycache__/wsgi.cpython-36.pyc
DDAPIwebsite/DDAPIwebsite/admin.pyc
DDAPIwebsite/DDAPIwebsite/apps.pyc
DDAPIwebsite/DDAPIwebsite/include/
DDAPIwebsite/DDAPIwebsite/migrations/__pycache__/
DDAPIwebsite/DDAPIwebsite/models.pyc
DDAPIwebsite/DDAPIwebsite/pip-selfcheck.json
DDAPIwebsite/DDAPIwebsite/settings.pyc
DDAPIwebsite/DDAPIwebsite/urls.pyc
DDAPIwebsite/DDAPIwebsite/views.pyc
DDAPIwebsite/bin/
DDAPIwebsite/include/
DDAPIwebsite/lib/
DDAPIwebsite/pip-selfcheck.json
deactivate/
.DS_Store
