<!doctype html>

{% load static %}

<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>DDAPI</title>
		<link rel="stylesheet" href="{% static '/DDAPIwebsite/css/app.css' %}">
	</head>

	<body class="back">

		<div class="inner-box">

			<h1>Welcome to<br>Digital Democracy API</h1>

			<img src="{% static '/DDAPIwebsite/images/DD-API.png' %}" height="350">

			<div style="padding-top: 20px;">
				<a class="mybutton" href="/request_access/">Request Access</a>
			</div>

{#			<form action="/key_url/" method="post">#}
{#			    <label for="userName">Enter name: </label>#}
{#			    <input id="userName" placeholder="User Name">#}
{#			    <input type="submit" value="Get Key">#}
{#			</form>#}

		</div>
	</body>

</html>
