<!doctype html>

{% load static %}

<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>New User</title>
		<link rel="stylesheet" href="{% static '/DDAPIwebsite/css/app.css' %}">
	</head>


	<body class="back">

		<div class="inner-box">

			<img src="{% static '/DDAPIwebsite/images/DD-API.png' %}" height="200">
			<br>
			<br>

			<form action="/new-user/" method="POST">
				<div class="tbl">
					<p>
						<label for="new_user">First Name: </label>
						<input align="center" id="first_name" type="text" name="new_user" value="{{ first_name }}" required>
					</p>

					<p>
						<label for="new_user">Last Name: </label>
						<input align="center" id="last_name" type="text" name="new_user" value="{{ last_name }}" required>
					</p>

					<p>
						<label for="new_user">Email: </label>
						<input align="center" id="email" type="text" name="new_user" value="{{ email }}" required>
					</p>

					<p>
						<label for="new_user" style="padding-right: 5px">Confirm Email:</label>
						<input align="center" id="email_conf" type="text" name="new_user" value="{{ email_conf }}" required>
					</p>

	{#				probably need more fields#}

					<br>

				</div>
				<input class="mybutton" type="submit" value="Submit" style="text-align: center">
			</form>
		</div>


		<script type="text/javascript" src="{% static 'DDAPIwebsite/js/request_access.js' %}"></script>

	</body>

</html>